<div class="blank-layout-container bg-light">
  <div class="position-relative row w-100 h-100 justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth w-100">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="assets/images/backgrounds/4411.jpg" class="logo-image" alt="Gov Reports Logo" />
            </a>
          </div>

          <form [formGroup]="loginform" (ngSubmit)="submit()" class="m-t-10">
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">User Email</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="uname" placeholder="Enter User Email" />
              <mat-error *ngIf="loginform.get('uname')?.touched && loginform.get('uname')?.hasError('required')">
                User Email is a required field!
              </mat-error>
            </mat-form-field>

            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="password" type="password" placeholder="Enter Password"
                (input)="validatePassword(loginform.get('password')?.value)" />
              <mat-error *ngIf="loginform.get('password')?.touched && loginform.get('password')?.hasError('required')">
                Password is a required field!
              </mat-error>
              <mat-error *ngIf="passwordError">{{ passwordError }}</mat-error>
            </mat-form-field>

            <div *ngIf="invalidError" class="invalid-error d-flex align-items-center">
              <mat-icon class="error-icon mr-2">error</mat-icon>
              {{ invalidError }}
            </div>

            <button mat-flat-button color="primary" class="w-100 mt-3">Sign In</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
